<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% if title %}{{ title }} - {% endif %}{{ config['WLS_TITLE'] }}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
      <div class="container">
        <h1 class="navbar-brand mb-0">
          {{ config['WLS_BRAND_HTML'] }}
        </h1>
      </div>
    </nav>
    <main role="main" class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="alert alert-{{ 'info' if category == 'message' else category }}">{{ message }}</div>
    {% endfor %}
    {% endwith %}
    {% block main %}{% endblock %}
    </main>
  </body>
</html>
