{% extends "base.html" %}
{% block main %}
<h2>Error encountered</h2>
<p class="lead">Something went wrong when trying to log you in.</p>
{% if message -%}
<div class="p-2 bg-danger text-white">{{ message }}</div></p>
{% endif -%}
{% if fail -%}
<p>The web application that sent you here specified that we should not redirect back to it if authentication failed, or it may not be possible
to redirect you back to the web application, which is why you are being shown this page.</p>
{% endif -%}
{% endblock %}
